<% provide(:title, "About") %>


    <h1>About</h1>

    <p>

      The aim of the project is to show students associated to their events and events associated to the students.
    </p>
  </body>

</html>
