<% provide(:title, "About") %>


    <h1>About</h1>

    <p>

      The aim of the project is to popularize the local gastronomy market by facilitating the consumer access to information
      about restaurants thanks to which he will be able to match the selection of restaurants to his needs.
    </p>
  </body>

</html>
