<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p>
  The author is student of Wroclaw University of Technology, the field of Teleinformatics in faculty Electronics.
</p>

<p>
    To contact the author, find him on facebook. You can also visit <a href="https://en.wikipedia.org/wiki/Wroc%C5%82aw">Wrocław</a>.

</p>
