<% provide(:title, "Help") %>



    <h1>Help</h1>



    <p>

      If you want to know how to get this application started, check out README file but if you're here then you probably have already done it.


    </p>

    <p>


      Visiting the about tab will tell you what this project is about.

    </p>
