<footer class="footer">

  <small>

    iCal Project made by Dawid Białek


  </small>

  <nav>

    <ul>

      <li><%= link_to "About", about_path %></li>

      <li><%= link_to "Contact", contact_path %></li>

      <li><a href="http://weka.pwr.edu.pl/">Faculty</a></li>

    </ul>

  </nav>

</footer>
